[submodule "External/glad"]
	path = External/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
